:root {
    --blue: #003475;
    --lightblue: #0A72C4;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

ul {
    font-family: helvetica;
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--blue);
}
.dark-theme {
  --bg: var(--blue);
  --fontColor: var(--lightblue);
}